<form id="new-product" (ngSubmit)="save()" [formGroup]="formValidate">
  <input type="file" (change)="inputFileChange($event)" #inputFile />

  <input
    type="text"
    placeholder="Nome do produto"
    name="name"
    formControlName="name"
  />

  <div
    class="error"
    *ngIf="
      formValidate.get('name').hasError('required') &&
      formValidate.get('name').touched
    "
  >
    Nome é obrigatório
  </div>

  <input
    type="text"
    placeholder="Descrição"
    name="description"
    formControlName="description"
  />

  <input
    type="text"
    placeholder="Preço"
    name="price"
    formControlName="price"
    type="text"
    currencyMask
    [options]="{
      prefix: '',
      thousands: '.',
      decimal: ',',
      allowNegative: false
    }"
  />

  <div
    class="error"
    *ngIf="
      formValidate.get('price').hasError('required') &&
      formValidate.get('price').touched
    "
  >
    Preço é obrigatório
  </div>

  <div class="button_container">
    <button type="submit" [disabled]="formValidate.invalid">
      {{ isEdit ? 'Atualizar' : 'Salvar' }}
    </button>

    <button class="button_new" type="button" (click)="newProduct()">
      Novo
    </button>

    <a routerLink="/">ir para loja</a>
  </div>
</form>

<div class="container-table">
  <div class="search">
    <div></div>
    <form (ngSubmit)="loadProducts()">
      <input
        type="text"
        placeholder="Pesquisar por nome"
        name="nameText"
        [(ngModel)]="nameText"
      />
      <button type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  <table>
    <tr>
      <th></th>
      <th>Nome do produto</th>
      <th>Ações</th>
    </tr>

    <tr *ngFor="let product of products">
      <td>
        <img
          src="http://localhost:8080/images/{{ removeFakepath(product.image) }}"
          alt=""
          height="35"
          width="35"
        />
      </td>
      <td>
        {{ product.name }}
      </td>
      <td>
        <button
          (click)="loadProduct(product.id)"
          [routerLink]="['/admin', product.id]"
        >
          <i class="fas fa-pencil-alt"></i>
        </button>
        <button (click)="confirmDelete(product.id)">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
