header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

header a {
  color: rgb(175, 170, 170);
}

.cart {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.2s;
}

.cart div {
  text-align: right;
  margin-right: 10px;
}

.cart div strong {
  display: block;
  color: rgb(175, 170, 170);
}

.cart div span {
  font-size: 15px;
  color: rgb(175, 170, 170);
}
